<h1 [class.myClass]="totalClass">
  {{'array works!' | uppercase }} <br>
  {{ people }} <br>
  {{ 'Seever Sarkawt' | uppercase }} <br>
  {{ 'Seever Sarkawt' | lowercase }} <br>
  {{ birthday | date | uppercase }} <br>
  {{ birthday | date:"MM-dd-yyyy" }} <br>
  {{ mySalary | currency }} <br>
  {{ mySalary | currency:"GBP" }} <br>
  {{ mySalary | currency:"USD" }} <br>
  {{ Rate | percent }} <br>
  <img src="{{ myImage }}" alt=""> <br>
  <img [src]="myImage" alt=""> <br>
  <img bind-src="myImage" alt=""> <br>
  <p><img [textContent]="myImage" alt=""></p>

  <div [ngSwitch]="myNumber">
    <p *ngSwitchCase="100">Sivar True</p>
    <p *ngSwitchCase="200">200 Returnss</p>
    <p *ngSwitchCase="300">300 Returns</p>
    <p *ngSwitchCase="400">400 Returns</p>
    <p *ngSwitchCase="500">500 Returns</p>
    <p *ngSwitchDefault>Nothing</p>
  </div> <br>

  <i *ngIf='sultan ; else anotherName'>{{ suname }}</i>
  <span><ng-template #anotherName>Muhammad Essa</ng-template></span> <br>
  <span>{{ sultan ? suname : 'Any Name' }}</span>
</h1>

<div class="style">
  <ul>
    <li *ngFor='let person of people'>{{ person }}</li>
  </ul>
  <br>
  <ul>
    <li *ngFor='let job of jobs; let i = index'>{{ i+1 }} - {{ job }}</li>
  </ul>
  <br>
  <ul>
    <li *ngFor='let lang of plang'>{{ lang.languageName }} - {{ lang.shortcut }} - {{ lang.city }}</li>
  </ul>
</div>
